# Supabase Backend Configuration Template
VITE_SUPABASE_PROJECT_ID=qkytpjhttmdpdrlqyjuo
VITE_SUPABASE_URL=https://qkytpjhttmdpdrlqyjuo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFreXRwamh0dG1kcGRybHF5anVvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyMDE2NTQsImV4cCI6MjEwNTc3NzY1NH0.GiKVDUZLz9SLhaD9SoBXKrEpNT7Pq7DkhNwks7sQj_A
VITE_SUPABASE_DATABASE_API=https://qkytpjhttmdpdrlqyjuo.supabase.co/rest/v1/
VITE_SUPABASE_STORAGE_BUCKET=Connect

# Paystack API Configuration Template
VITE_PAYSTACK_SECRET_KEY=sk_live_your_paystack_secret_key_here

